.jumbotron h1 {
  color: rgba(200, 50, 255, 1);
}

.search input {
  padding-top: 0;
  background-color: #333;
  color: #9d9d9d;
  border: gray;
}

iframe {
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}
