{% extends "datatable.html" %}
{% load staticfiles %}
{% load datatable %}

{% block nav_parent %}{{ list_path }}{% endblock %}

{% block content %}
{% if object.image_source %}
<div style="float:left;margin:20px"><img src={{object.image_source}}></img></td></div>
{% endif %}
<div class="right-column" style="float:left;margin:20px">
  <table style="width:100%">
  {% for col in list_display %}
  <tr>
    <td>{{ col|upper }}</td>
    <td>{{ object | get_field:col }}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
